:root {
    --primary-font: 'Roboto', sans-serif;
    --between-letters: 0.02em;
    --titleh2-size: 36px;
    --titleh3-size: 20px;
    --textp-size: 16px;
    --heightp-line: 1.5;
    --heighth1-line: 1.07;
    --heighth2-line: 1.11;
    --heighth3-line: 1.2;
    --heightlogo-line: 1.17;
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    font-family: var(--primary-font);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tangerine', cursive;
    background: var(--white-color);
    letter-spacing: var(--between-letters);
    font-size: var(--titleh2-size);
    font-size: var(--titleh3-size);
    font-size: var(--textp-size);
    color: var(--cloud-color);
    color: var(--iris-color);
    color: var(--white-color);
    color: var(--ocean-color);
    color: var(--navy-blue-color);
    color: var(--slate-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

label,
input,
textarea, 
button {
    font-family: "Roboto", sans-serif;
}

.logo-span {

    color: var(--navy-blue-color);
}



.main-title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: var(--heighth1-line);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    padding-bottom: 48px;
    max-width: 496px;
}

.main-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--textp-size);
    line-height: var(--heightp-line);
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--iris-color);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover {
    background: var(--ocean-color);
}

.main-button:focus {
    background-color: var(--ocean-color);
}

.title-name {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: var(--titleh3-size);
    letter-spacing: var(--between-letters);
    color: var(--navy-blue-color);
    line-height: var(--heighth3-line);
}

.desc {
    margin-bottom: 8px;
    text-align: left;
}

.team {
    text-align: center;
    margin-bottom: 8px;
}

.text-description {
    font-family: var(--primary-font);
    font-size: var(--textp-size);
    line-height: var(--heightp-line);
    letter-spacing: var(--between-letters);
    color: var(--slate-color);
}

.ourteam {
    text-align: center;
    padding-bottom: 8px;
}

.title-subject {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: var(--titleh2-size);
    line-height: var(--heighth2-line);
    text-align: center;
    letter-spacing: var(--between-letters);
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

.menu-button {
    background: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--textp-size);
    line-height: var(--heightp-line);
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover {
    background-color: var(--ocean-color);
    color: var(--white-color);
    cursor: pointer;
    border: 1px solid transparent;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-button:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link:focus,
.link:hover {
    color: var(--ocean-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 0;  
}

.link {
    text-decoration: none;
    
}

.link-app {
    display: block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.link-app:active,
.link-app:focus {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-app:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.color {
    display: flex;
    flex-direction: column; 
    color: var(--navy-blue-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    line-height: var(--heightp-line);
    letter-spacing: 0.02em;
    gap: 20px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color:hover {
    color: var(--ocean-color); 
}

.color:focus,
.color:active {
    color: var(--ocean-color);
}

.active {
    color: var(--ocean-color);
}

.active::after {
    position: absolute;
    width: 100%;
    height: 4px;
    content: "";
    background-color: var(--ocean-color);
    bottom: -1px;
    left: 0;
    top: 44px;
    border-radius: 2px;
    z-index: 999;
}

.addlink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: var(--heightp-line);
    letter-spacing: 0.02em;
    color: var(--slate-color);
    padding: 24px 0 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-ourteam {
    background-color: var(--cloud-color);
    padding: 120px 0;
}

.list-ourteam {
    background-color: var(--white-color);
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.header-logo {
    margin-right: 76px;
    padding: 24px 0 24px 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    /* background-color: var(--green-color); */

}

.section-main {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 188px 0;
    background: var(--navy-blue-color);
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/jpg/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-main .container {
    flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
}

.direction-header {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 15px 0 15px;
}

.nav-menu {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.list {
    display: flex;
    list-style: none;
}

.address {
    padding-right: 0;
    font-style: normal;
    padding-left: 332px;
}

.footer {
    background: var(--navy-blue-color);
    padding: 100px 0;
}

.description {
    display: flex;
    gap: 24px;
    padding: 0;
}

.description-range {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.test {
    width: 264px;
}

.position {
    flex-direction: column;
}

.portfolio-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.box-main {
    margin-bottom: 120px;
}

.header-portfolio {
    margin-bottom: 8px;
}

.blue-line {
    border-bottom: 1px solid var(--cornflower-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.section-description {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.section-wedoing {
    padding-bottom: 120px;
}

.wedoing {
    margin-bottom: 72px;
}

.wedoing-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-main {
    padding-top: 96px;
    padding-bottom: 120px;
}

.route {
    display: flex;
    flex-direction: column;
}

.site-nav {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: var(--heightlogo-line);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris-color);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: var(--heightlogo-line);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris-color);
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-foot {
    color: var(--cloud-color);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-shrink: 0;
    align-self: flex-end;
    list-style-type: none;
}

.social-links-foot {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-shrink: 0;
    align-self: flex-end;
    list-style-type: none;
}

.social-li {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus,
.social-link:hover {
    background-color: var(--ocean-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.social-link.foot:focus,
.social-link.foot:hover {
    background-color: var(--green-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.icon {
    fill: var(--cloud-color);
}

.icon-clients {
    fill: currentColor;
}

.icon:hover {
    fill: var(--white-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.name-ocupation {
    padding: 32px 0 32px;
}

.footer-text {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: var(--heightp-line);
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    width: 264px;
}
/* -------------------дивы и форма футера-------------------- */
.direction-social {
    display: flex;
    align-items: baseline;
}

.soc {
    display: block;
    margin-right: auto;
}

.social {
    display: block;
}

.div-subscribe {
    /* display: flex; */
        margin-left: 80px;
}


.social-subscribe {
    display: flex;
    gap: 24px;
    
}
/* ------------------------------------------- */
.footer-social {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--heightp-line);
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
    
}

/* .label-subscribe {

}   */

.input-subscribe {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: var(--heightp-line);
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    
    /* background: var(--navy-blue-color); */
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    /* margin-right: 24px; */
    /* padding: 8px 16px; */
}

.input-subscribe::placeholder {
    color: #ffffff;
}

.button-subscribe {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: var(--heightp-line); 
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    background: var(--iris-color);
    border: none;
    border: 0;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
}

.icon-subscribe {
    margin-left: 16px;
}

.customers-links .customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    background-color: var(--white-color);
    border: 1px solid var(--light-slate-color);
    color: var(--light-slate-color);
    border-radius: 4px;
    gap: 24px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-links .customers-link:focus,
.customers-links .customers-link:hover {
    background-color: var(--white-color);
    border: 1px solid var(--ocean-color);
    color: var(--ocean-color);
}

.customers-links .customers-link .icon {
    display: inline-flex;
    fill: var(--light-slate-color);
}

.customers-links .customers-link:hover .icon {
    fill: var(--ocean-color);
}

.clients {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.sec-customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.description-pictures .description-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--cloud-color);
    border-radius: 4px;
    gap: 24px;
    margin-bottom: 8px;
}

.box {
    width: calc((100% - 48px) / 3);
    border: 1px solid var(--cornflower-color);
    position: relative;
    overflow: hidden;
}

.picture {
    display: block;

}

.box-overlay {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 300px;
}

.stylish {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    padding: 40px 32px;
    background-color: var(--iris-color); 
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-app:hover .stylish { 
    transform: translateY(0);
    
}

.link-app:focus .stylish {
    transform: translateY(0);
    
}

.chess-wrap {
    padding: 32px 16px;
    border: 1px solid var(--cornflower-color);
    border-top: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    z-index: 999;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: var(--dairy-color);
    border: 1px solid #888;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}

.button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus,
.button-close:hover {
    background-color: var(--ocean-color);
    border: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
    height: 8px;
    width: 8px;
    fill: var(--navy-blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus .icon-modal,
.button-close:hover .icon-modal {
    fill: var(--white-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal {
    display: flex;
    flex-direction: column;
    padding: 72px 24px 24px 24px;
    /* background-color: burlywood; */
    
}
/* ------------------------------------------- */
.all-input {
    width: 100%;
    /* background-color: #31D0AA; */
    /* margin-top: 16px; */
    padding: 0px;
}

.name-input {
    margin-bottom: 8px;
}

.textarea-input {
    margin-bottom: 16px;
}



.form-p {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: var(--heightp-line);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

/* ------------------------------------------------------------------------ */


 .div-input {
    width: 100%;
    height: auto;
    position: relative;
    /* padding-bottom: 8px; */
}

 .div-input input {
    width: 100%;
    background-color: transparent;
    font-size: 15px;
    color: var(--navy-blue-color);
    /* padding-right: 38px;
    padding-left: 38px; */
    
}

 .div-input svg {
    position: absolute;
    cursor: pointer;
}

 .div-input .emoj {
    top: 50%;
    transform: translatey(-50%);
    left: 16px;
    top: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ------------------------------------------------------------------------ */
/* --------------------------------------------------------- */
.form-label {
    display: block;
    color: var(--light-slate-color);
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    line-height: var(--heightlogo-line);
    letter-spacing: 0.04em;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
    
}



/* --------------------------------------------------------------- */

.form-input {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: var(--heightp-line);
    letter-spacing: 0.04em;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.div-input:focus-within {
    fill: var(--iris-color);
}

.form-input:focus-within {
    border: 1px solid var(--iris-color);
    
}
/* ------------------------------------------------------------------------ */

.form-textarea {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    line-height: var(--heightlogo-line);
    letter-spacing: 0.04em;
    resize: none;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-textarea:hover,
.form-textarea:active, */
.form-textarea:focus {
    border-color: var(--iris-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button {
    font-family: "Roboto", sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    color: var(--white-color);
    text-align: center;
    padding: 16px auto;
    font-size: 16px;
    font-weight: 500;
    line-height: var(--heightp-line);
    letter-spacing: 0.04em;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* -------------------------------------------- */
.check-div {
    display: flex;
    margin-bottom: 24px;
    /* margin-left: 2px; */
}

.check-label {
    display: block;
    margin-left: 24px;
    color: var(--light-slate-color); 
    font-size: 12px;
    font-family: Roboto;
    line-height: var(--heightlogo-line);
    letter-spacing: 0.04em;
    /* margin-bottom: 2.5px; */
}

.check-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;

    /* position: absolute; */
    margin-top: -2px;
    margin-right: 8px;
    margin-left: -24px;
    /* overflow: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.5px #2E2F4266; */
    
}

.check-input:checked+.check-label .check-box {
    
    border: none;
    background-color: var(--ocean-color);
    fill: var(--cloud-color);
}


.check-link {
    color: var(--iris-color);
}







